{% extends 'centered.html' %}

{% block content %}
<div class="jumbotron">
    <div class="jumbotron-content">
        <h1>FitMarkers</h1>
        <p>A really, really sweet short sentence about this product!</p>
        <p><a class="btn btn-default btn-lg" href="{% url 'about' %}">Learn more</a> <a class="btn btn-primary btn-lg" href="/login/mapmyfitness">Log in with MapMyFitness »</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mix It Up</h2>
        <p>Running the same route every day can make your workouts dull. Fitmarkers rewards diversity in your workouts.</p>
        <p>You'll gain points for each <strong>new</strong> FitMarker you pass on your workout each month.</p>
    </div>
    <div class="col-md-4">
        <h2>Explore New Places</h2>
        <p>Earn extra points by working out in unique, hard-to-find, and scenic places.</p>
        <p>Plan your route to find the most FitMarkers along the way.</p>
    </div>
    <div class="col-md-4">
        <h2>Compete</h2>
        <p>Run, ride or walk your way to the top of the leaderboards.</p>
        <p>There are monthly and all time leaderboards to keep things interesting.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Let's Do This!</h2>
        <p>FitMarkers syncs with your MapMyFitness account to track your workouts.</p>
        <p><a class="btn btn-primary btn-lg" href="/login/mapmyfitness">Log in with MapMyFitness »</a></p>
    </div>
</div>
{% endblock %}

{% block css %}
<style type="text/css">
.jumbotron {
    background-image: url({{ STATIC_URL }}img/hero.jpg);
}
.jumbotron-content {
    width: 460px;
    background-color: rgba(17, 17, 17, 0.65);
    border-radius: 8px;
    padding: 15px 30px;
}
.jumbotron-content h1 {
    color: #e0e0e0;
}
.jumbotron-content p {
    color: #e0e0e0;
    line-height: 1.3em;
    margin: 8px 0 12px;
}
</style>
{% endblock %}