{% extends 'base.html' %}

{% block content %}
<h2>A {{ workout.get_type_display }} from {{ workout.get_provider_display }} on {% if workout.is_this_week %}{{ workout.start_datetime|date:"l" }}{% else %}{{ workout.start_datetime|date:"M d, Y" }}{% endif %}</h2>

<div id="map-container" style="height: 500px; border: 1px solid #999999;"></div>

{% endblock %}

{% block javascript %}
<script>
fm.workout_markers = {{ workout_markers_geojson|safe }};
fm.workout = {{ workout_geojson|safe }};
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/lvector.js"></script>
<script src="{{ STATIC_URL }}js/workout.js"></script>
{% endblock %}

{% block css %}
<link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet">
{% endblock%}