{% extends 'base.html' %}

{% block content %}

<h2>My Dasboard</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>From</th>
            <th>FitMarkers</th>
        </tr>
    </thead>
    <tbody>
        {% for workout in monthly_workouts %}
        <tr>
            <td>
                <a href="{% url 'user_workout' workout.id %}">
                    {{ workout.start_datetime|date:"M d, Y" }}
                </a>
            </td>
            <td>
                {{ workout.get_type_display }}
            </td>
            <td>
                {{ workout.get_provider_display }}
            </td>
            <td>
                {{ workout.workout_marker_count }}
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}