{% extends 'base.html' %}

{% block content %}

<h1>My Dasboard</h1>

<h2>Rankings</h2>

<h3 style="text-align: center;">This Month</h3>

<div class="row">

{% if monthly_leaderboards.all.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">All Activities</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.all.rank }} of {{ monthly_leaderboards.all.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.all.score }} points</h4>
    </div>
</div>
{% endif %}

{% if monthly_leaderboards.run.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">Running</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.run.rank }} of {{ monthly_leaderboards.run.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.run.score }} points</h4>
    </div>
</div>
{% endif %}

{% if monthly_leaderboards.ride.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">Biking</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.ride.rank }} of {{ monthly_leaderboards.ride.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.ride.score }} points</h4>
    </div>
</div>
{% endif %}

{% if monthly_leaderboards.walk.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">Walking</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.walk.rank }} of {{ monthly_leaderboards.walk.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.walk.score }} points</h4>
    </div>
</div>
{% endif %}

</div>

<h3 style="text-align: center;">All Time</h3>

<div class="row">

{% if all_time_leaderboards.all.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">All Activities</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.all.rank }} of {{ all_time_leaderboards.all.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.all.score }} points</h4>
    </div>
</div>
{% endif %}

{% if all_time_leaderboards.run.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">Running</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.run.rank }} of {{ all_time_leaderboards.run.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.run.score }} points</h4>
    </div>
</div>
{% endif %}

{% if all_time_leaderboards.ride.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">Biking</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.ride.rank }} of {{ all_time_leaderboards.ride.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.ride.score }} points</h4>
    </div>
</div>
{% endif %}

{% if all_time_leaderboards.walk.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h3 style="text-align: center; margin-top: 5px;">Walking</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.walk.rank }} of {{ all_time_leaderboards.walk.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.walk.score }} points</h4>
    </div>
</div>
{% endif %}

</div>

<h2>This Month's Workouts &amp; FitMarkers</h2>

<div class="row">
    <label for="select-activity">Activity Type</label>

    <ul id="select-activity" class="nav nav-pills selector">
        <li data-type="all" class="active"><a class="select activity" href="#">All</a></li>
        <li data-type="run"><a class="select activity" href="#">Run</a></li>
        <li data-type="ride"><a class="select activity" href="#">Ride</a></li>
        <li data-type="walk"><a class="select activity" href="#">Walk</a></li>
    </ul>
</div>

<div class="row" style="height: 500px;">
    <div id="workout-table-container" class="col-md-4 full-height" style="overflow-y: auto;">
        <script id="workouts-template" type="text/x-handlebars-template">
            {% verbatim %}
            {{#if workouts}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>FitMarkers</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each workouts}}
                    <tr>
                        <td>
                            {{link this.date this.url}}
                        </td>
                        <td>
                            {{this.type}}
                        </td>
                        <td>
                            {{this.marker_count}}
                        </td>
                    {{/each}}
                    </tr>
                </tbody>
            </table>
            {{else}}
            No workouts found :(
            {{/if}}
            {% endverbatim %}
        </script>
    </div>
    <div class="col-md-8 full-height">
        <div id="map-container" class="map-container full-height"></div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/lvector.js"></script>
<script src="{{ STATIC_URL }}js/handlebars.js"></script>
<script src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}

{% block css %}
<link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet">
{% endblock%}