{% extends 'base.html' %}

{% block content %}
<h2>Workout</h2>

<div id="map-container" style="height: 500px; border: 1px solid #999999;"></div>

{{ workout }}
{% endblock %}

{% block javascript %}
<script>
fm.workout_markers = {{ workout_markers_geojson|safe }};
fm.workout = {{ workout_geojson|safe }};
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/lvector.js"></script>
<script src="{{ STATIC_URL }}js/workout.js"></script>
{% endblock %}

{% block css %}
<link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet">
{% endblock%}