{% extends 'base.html' %}

{% block content %}

<h1>My Dasboard</h1>

<h2>Rankings</h2>

<div class="row">

{% if all_time_leaderboards.all.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">All Time</h2>
        <h3 style="text-align: center; margin-top: 5px;">All Activities</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.all.rank }} of {{ all_time_leaderboards.all.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.all.score }} points</h4>
    </div>
</div>
{% endif %}

{% if all_time_leaderboards.run.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">All Time</h2>
        <h3 style="text-align: center; margin-top: 5px;">Running</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.run.rank }} of {{ all_time_leaderboards.run.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.run.score }} points</h4>
    </div>
</div>
{% endif %}

{% if all_time_leaderboards.ride.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">All Time</h2>
        <h3 style="text-align: center; margin-top: 5px;">Biking</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.ride.rank }} of {{ all_time_leaderboards.ride.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.ride.score }} points</h4>
    </div>
</div>
{% endif %}

{% if all_time_leaderboards.walk.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">All Time</h2>
        <h3 style="text-align: center; margin-top: 5px;">Walking</h3>
        <h3 style="text-align: center;">Ranked {{ all_time_leaderboards.walk.rank }} of {{ all_time_leaderboards.walk.count }}</h3>
        <h4 style="text-align: center;">with {{ all_time_leaderboards.walk.score }} points</h4>
    </div>
</div>
{% endif %}

</div>

<div class="row">

{% if monthly_leaderboards.all.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">This Month</h2>
        <h3 style="text-align: center; margin-top: 5px;">All Activities</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.all.rank }} of {{ monthly_leaderboards.all.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.all.score }} points</h4>
    </div>
</div>
{% endif %}

{% if monthly_leaderboards.run.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">This Month</h2>
        <h3 style="text-align: center; margin-top: 5px;">Running</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.run.rank }} of {{ monthly_leaderboards.run.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.run.score }} points</h4>
    </div>
</div>
{% endif %}

{% if monthly_leaderboards.ride.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">This Month</h2>
        <h3 style="text-align: center; margin-top: 5px;">Biking</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.ride.rank }} of {{ monthly_leaderboards.ride.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.ride.score }} points</h4>
    </div>
</div>
{% endif %}

{% if monthly_leaderboards.walk.rank %}
<div class="col-md-3" style="padding: 5px;">
    <div class="well">
        <h2 style="text-align: center; margin-top: 10px;">This Month</h2>
        <h3 style="text-align: center; margin-top: 5px;">Walking</h3>
        <h3 style="text-align: center;">Ranked {{ monthly_leaderboards.walk.rank }} of {{ monthly_leaderboards.walk.count }}</h3>
        <h4 style="text-align: center;">with {{ monthly_leaderboards.walk.score }} points</h4>
    </div>
</div>
{% endif %}

</div>

<h2>This Month's Markers</h2>

<div id="map-container" style="height: 500px; border: 1px solid #999999;"></div>

<h2>This Month's Workouts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>From</th>
            <th>FitMarkers</th>
        </tr>
    </thead>
    <tbody>
        {% for workout in monthly_workouts %}
        <tr>
            <td>
                <a href="{% url 'user_workout' workout.id %}">
                    {{ workout.start_datetime|date:"M d, Y" }}
                </a>
            </td>
            <td>
                {{ workout.get_type_display }}
            </td>
            <td>
                {{ workout.get_provider_display }}
            </td>
            <td>
                {{ workout.workout_marker_count }}
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}

{% block javascript %}
<script>
fm.monthly_markers = {{ monthly_markers_geojson|safe }};
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/lvector.js"></script>
<script src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}

{% block css %}
<link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet">
{% endblock%}